/* var.css */
:root {
  --vp-c-brand-1: #8C1740;
  --vp-c-brand-2: #981F3B;
  --vp-c-brand-3: #A52240;
}

.dark {
  --vp-c-brand-1: #CF2A51;
  --vp-c-brand-2: #B62547;
  --vp-c-brand-3: #8C1740;
}
/* 以前的vp-c-brand已弃用 */

:root {
  /* hero标题渐变色 */
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    #B62547,
    #BA36A4
  );

  /*hero logo背景渐变色 */
  --vp-home-hero-image-background-image: linear-gradient(
    120deg,
    #EAC6CB 50%,
    #F2D6FC 50%
  );
  --vp-home-hero-image-filter: blur(40px);
}

.medium-zoom-overlay {
  z-index: 30;
}
.medium-zoom-image {
  z-index: 9999 !important; /* 给的值是21，但是实测盖不住，直接999 */
}